<html>
  <head>
    <%= stylesheet_link_tag "tasks_style" %>
  </head>
  <body>
   
   <!- Scripts for facebook and twitter ->
   <div id="fb-root"></div>
   <script>
     (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
       fjs.parentNode.insertBefore(js, fjs);
     }
     (document, 'script', 'facebook-jssdk'));
   </script>

   <script>
   !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
      }
   }(document,"script","twitter-wjs");
   </script>    
   <!- End of facebook and twitter scripts->

    <div id="header">
    </div>

    <div id="great_div">     
      <h1>Welcome to Easy Task</h1>
      Use the button below to Enter the Site
      </br>
      </br>
      <%= link_to "Enter", 'tasks', :class => "enter_button" %>
    </div>
    <div id="footer">   
    </div>
    <div id="footer2">  
      Powered By:
    </div> 
    <div id="footer3">
      <%= link_to(image_tag("/images/rails.png", :alt => "Promo Image"), "http://www.rubyonrails.org") %>
    </div>

    <!- Div made for social networks->
    <div id="social">

    <div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
   </br>
   </br>
   <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:3000">Tweet</a>   

    </div>
    <!- End of social networks div->    
  </body>
</html>
